html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color:#5B6073;
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

/* Flex Container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: black;
}

.flex-nav li {
  flex:1;
}

.flex-nav .text {
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-nav .text p {
    margin: 0;
}

@media all and (max-width:1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .text {
    flex: 1 1 25%;
    padding:20px 5px;
  }
}

@media all and (max-width:550px) {
  .flex-nav li, .flex-nav .text {
    flex-basis:100%;
  }

  .flex-nav .text {
    padding:20px 5px;
  }
}

.buttonDisplay{
  font-size: 16px;
  color: white;
  background-color: #7E7F9A;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  padding: 0.5rem 0.5rem;
  letter-spacing: 1px;
}

.buttonNonDisplay{
  display: none;
}

.errors_container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.closeError{
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 125%;
  margin: 0 1rem;
  padding-top: 0.1rem;
}

.closeError:hover{
  cursor: pointer;
  border: 1px white solid;
  border-radius: 2px;
}

.current_style {
  font-weight: bold;
}