.search_title {
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 2rem;
}

.search_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}

input {
    height: 2rem;
}

.movies_container {
    display: flex;
    flex-wrap: wrap;
}

.search_bar {
    padding-bottom: 2rem;

}
